.friends-page {
    display: block;
    max-width: 960px;
    margin: auto;
    text-align: center;
    &__block {
        width: 33%;
        float: left;
        padding: 5% 2% 0%;
        img {
            width: 20vw;
            height: 20vw;
            object-fit: cover;
            border-radius: 50%;
            display: block;
            margin: auto;
        }
        hr {
            border: 1px solid blue;
        }
        h3 {
            font-weight: bold;
            margin-bottom: 0;
            font-size: 1.8vw;
        }
        p {
            margin: 0;
            font-size: 1.2vw;
        }
    }
}